# See http://help.github.com/ignore-files/ for more about ignoring files.
.github_token
# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
sls.env

.terraform
.serverless
